<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <uiDuplicateItem>
        <processor mode="on" patch:instead="*[@method='Execute' and @type='Sitecore.Buckets.Pipelines.UI.ItemDuplicate, Sitecore.Buckets']" type="Sitecore.Support.Buckets.Pipelines.UI.ItemDuplicate, Sitecore.Support.149714"         method="Execute"/>
      </uiDuplicateItem>
    </processors>
  </sitecore>
</configuration>

